body {
    margin: 0px;
    box-sizing: border-box;
    color: white;
    background-color: lightgray;
    user-select: none;
}

body>div{
    position:relative !important;
}

div#zhangting-panel{
    width: 100%;
    height: 700px;
}

.container{
    overflow-y: scroll;
    overflow-x: hidden;
}
.container::-webkit-scrollbar{
    display: none;
}

div#zhishu{
    position:relative;
    background-color: black;
    color:white;
    width: 120px;
    height:100%;
}
#zhangting span, td{
    cursor:pointer;
}
table{
    width:100%;
}

td{
    text-align: right;
    padding: 0px 1px;
}

td.zhangfu, td.zhangsu, td.liangbi, td.now, td.mcap{
    width:45px;
}

td.name{
    width:65px;
}

td.symbol{
    width:50px;
}

td.symbol, td.name{
    text-align: left;
}
div#zhangting{
    background-color: black;
    position: absolute;
    top:0px;
    bottom:0px;
    left:120px;
    right:0px;
}

div#zhangting .stocks{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

div#zhangting .stocks span{
    position:absolute;
}


div#zhangting .stocks span.lanban{
    color:grey;
}

div#zhangsu{
    position: relative;
    width:330px;
    height:100%;
    background-color: black;
}

div#zhangsu-zhishu{
    width:100px;
    height: 100%;
}

div#zhangsu-stocks{
    position:absolute;
    top:0px;
    bottom:0px;
    left:100px;
    right:0px;
    padding-left: 5px;
}

div#zhishu-list{
    position: absolute;
    padding-left:5px;
    top:0px;
    bottom:0px;
    left:330px;
    width:140px;
    /* color: white; */
    background-color: black;
}
div#stock-list{
    position: absolute;
    top:0px;
    bottom:0px;
    left:470px;
    width:350px;
    padding-left: 5px;
    background-color: black;
}

#custom-zhishu-list-0{
    position: absolute;
    padding-left:5px;
    top:0px;
    bottom:0px;
    left:825px;
    width:210px;
    background-color: black;
}

#custom-stocks-list-0{
    position: absolute;
    padding-left:5px;
    top:0px;
    bottom:0px;
    left:1040px;
    width:300px;
    background-color: black;
}

#custom-zhishu-list-1{
    position: absolute;
    padding-left:5px;
    top:0px;
    bottom:0px;
    left:1345px;
    width:210px;
    background-color: black;
}
#custom-stocks-list-1{
    position: absolute;
    padding-left:5px;
    top:0px;
    bottom:0px;
    left:1560px;
    width:300px;
    background-color: black;
}

#custom-stocks-list-0 tr.not-saved,
#custom-zhishu-list-0 tr.not-saved,
#custom-stocks-list-1 tr.not-saved,
#custom-zhishu-list-1 tr.not-saved{
    color: gray;
}

#custom-stocks-list-0 tr.removed,
#custom-zhishu-list-0 tr.removed,
#custom-stocks-list-1 tr.removed,
#custom-zhishu-list-1 tr.removed{
    text-decoration: line-through;
    color: gray;
}

#zhangting .stocks>span.selected,
tbody tr.selected{
    color: black;
    background-color: #ffe9e0;
}
#zhangting .stocks>span.selected.lanban{
    color: grey;
    background-color: #ffe9e0;
}

.clicked .selected{
    background-color:lightyellow !important;
}

.relative{
    color: black;
    background-color: lightblue;
}

#stock-list .relative, #zhishu-list .relative{
    color: white;
    background-color: black;
}

span.relative.lanban{
    color: grey;
    background-color: lightblue;
}

.save-needed{
    border-top: 2px solid green;
}