body {
    margin: 0px;
    box-sizing: border-box;
    background-color: lightgray;
}


div#zhangting-panel{
    position:relative;
    width: 100%;
    height: 700px;
}

div#zhangting-panel>div{
    overflow-y: scroll;
    overflow-x: hidden;
}
div#zhangting-panel>div::-webkit-scrollbar{
    display: none;
}

div#zhishu{
    position:relative;
    background-color: black;
    color:white;
    width: 120px;
    height:100%;
}

div#zhishu ul{
    list-style-type: none;
    padding:5px;
    margin:0px;
}
div#zhishu ul li span:last-child{
    position: absolute;
    right: 5px;
}

div#zhangting{
    background-color: black;
    position: absolute;
    top:0px;
    bottom:0px;
    left:120px;
    right:0px;
}

div#zhangting .stocks{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

div#zhangting .stocks span{
    position:absolute;
    color:white;
}


div#zhangting .stocks span.lanban{
    color:grey;
}
